<div *ngIf="cart.length == 0">
    <h3>Your cart is empty</h3>
</div>
<div>
    <div class="cart-item">
        <b>Item</b>
        <b>Quantity</b>
        <b>Unit Price</b>
        <b>Price</b>
        <b>Action</b>
    </div>
    <div class="cart-item" *ngFor="let item of cart">
        <span>{{item.name}}</span>
        <span>{{item.quantity}}</span>
        <span>{{item.price}}</span>
        <span>{{item.price * item.quantity}}</span>
        <button (click)="addToCart(item)">+</button>
        <button (click)="removeFromCart(item)">-</button>
    </div>
    <div class="cart-row">
        <span>Total: {{total}}</span>
    </div>
</div>