<div (mouseenter)="hovering(product.name, true)" (mouseleave)="hovering(product.name, false)">
    <h3>
        <a [title]="product.name + ' details'">
            {{ product.name }}
        </a>
    </h3>

    <img src="{{product.image}}" alt="{{product.name}}" />

    <p *ngIf="product.description">
        {{ product.description }}
    </p>

    <button [ngClass]="{'buttonNotHovered': hovered === false, 'buttonHovered' : hovered === true }"
        (click)="addToCart(product)">Add to cart</button>

    <button [ngClass]="{'buttonNotHovered': hovered === false, 'buttonHovered' : hovered === true }" (click)="removeFromCart(product)">Remove from cart</button>
</div>